<div id="home">
    <br>
    <ul>
        <li class="storeList" v-for="item in list" @click="showMsg(item,$index,$event)"
            :class="{'activeClass':$index==selectIndex }">
            <h3>{{item.address}}{{$index}}</h3>
        </li>
        <li class="storeList" v-for="item in list" @click="showMsg(item,$index,$event)"
            :class="{'activeClass':$index==selectIndex }">
            <h3>{{item.address}}{{$index}}</h3>
        </li>
        <li class="storeList" v-for="item in list" @click="showMsg(item,$index,$event)"
            :class="{'activeClass':$index==selectIndex }">
            <h3>{{item.address}}{{$index}}</h3>
        </li>
    </ul>
    <br><br>
    <div class="storeList" v-if="list&&list.length>0">
        哇，數據好多
    </div>
    <div class="storeList" v-else>
        唉，沒有數據
    </div>

</div>
